:root{
    --main-bg-color:  #071C4B;
    --main-font-color:  #6177A9;
    --main-navbg-color: #233F80;
}



body{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0px;

    font-family: Arial, Helvetica, sans-serif;

}
header{
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    padding: 20px;
    
}
header img{
    vertical-align: middle;
}

header span{
    background-color: white;
}


nav{
    background-color: var(--main-navbg-color);
    margin-top: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}
nav ul{
    margin: 0px;
    text-align: center;
    color: white;
    padding: 5px;
}
nav ul li{
    display: inline;
}
nav ul li:hover{
   background: var(--main-bg-color);
   padding: 2px;
}

main h3{
    color: var(--main-bg-color);
}

footer{
    text-align: center;
    color: var(--main-bg-color);
}

body:active{
    --main-bg-color:  #233F80;
    --main-navbg-color: #071C4B;
    background-color: var(--main-font-color);
    color: white;
    
    
}
