@{
    ViewData["Title"] = "Home Page";
}

<div class="container body-content">

    <div class="jumbotron">
        <h1>Welcome to the Movie App</h1>
        <h3>An MVC Exercise for CSIS 4135</h3>
    </div>

    <div class="btn btn-info btn-lg">
        <a class="bigbtn" href="/Movies">Take me to the movies!</a>
    </div>
    <div class="btn btn-info btn-lg">
        <a class="bigbtn" href="/Reviews">Take me to the reviews!</a>
    </div>
</div>
